[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "==20.8b1"
flake8 = "==3.8.4"
autopep8 = "==1.5.5"
isort = "*"
prospector = ">=1.1.6.4"
psutil = "*"
pytest-django = "*"
pytest-env = "*"
pytest-forked = "*"
pytest-factoryboy = "*"
pytest-freezegun = "*"
pytest-mock = "*"
pytest-xdist = "*"
conf = "*"
ipdb = "*"
pytz = "*"
django = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
